body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FF5858;
    margin: 0;
}
p,span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
    color: #333;
    margin: 0;
    padding: 0;
}
input[type="text"] {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    color: #333;
    border: none;
    border-bottom: solid 5px #9B9B9B;
    outline: none;
    padding: 10px;
    transition: 0.3s;
}
input[type="text"]:focus{
    border-bottom: solid 5px #FF5858;
}
.text-upper {
    text-transform: uppercase;
}
.text-red {
    color: #FF5858;
}
.text-green {
    color: #00FFA1;
}
.text-white {
    color: white;
}

.green {
    background-color: #00FFA1;
}
.super {
    font-size: 4em;
}
#back {
    position: fixed; 
    bottom: 0;
    left: 0;
    background-color: #00FFA1;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
}
#continue {
    position: absolute; 
    bottom: 0;
    right: 0;
    background-color: #00FFA1;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 9999;
}
#continue:hover{
    background-color: lightseagreen;
}
#back:hover{
    background-color: lightseagreen;
}
#main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250%;
    overflow: hidden;
}
.half {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: calc(20% - 60px);
    padding: 50px 30px;
}
.quart {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: calc(10% - 60px);
    padding: 50px 30px;
}
.three-quart {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: calc(30% - 60px);
    padding: 50px 30px;
}
#intro {
    background-color: #FF5858;
    color: white;
    left: 0%;
}
#intro p {
    color: white;
}
#intro h1 {
    color: white;
}
#choice-select {
    left: 20%;
    
}
#choice-action {
    left: 40%;
    border-left: solid 10px #FF5858;
}
#sound-select {
    left: 60%;
}
#results {
    left: 70%;
    border-left: solid 10px #FF5858;
}
/* CHOICE SELECT */ 

.choice {
    border: none;
    border-left: 10px #9B9B9B solid;
    padding: 20px;
    margin: 20px 0px;

    cursor: pointer;
    transition: 0.3s;
}
.choice:hover {
    border-left: 10px #FF5858 solid;
}
.active {
    border-left: 10px #FF5858 solid;
}

/* CHOICE ACTION */

#place-search {
    width: 100%;
}

.place {
    width: 100%;
}
#when-box .half:nth-child(2) {
    left: 50%;
}
#when-box {
    height: 400px;
    width: 100%;
}
#when-box  .noUi-connect{
    background: #FF5858;
}

.when-preselect {
    display: inline-block;
    height: 133px;
    width: 100%;
}
.when-preselect img{
    height: 100%;
    margin: auto;
}